/* Añadir estilos similares a los del registro */
.container-form {
    display: flex;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: var(--font-primary);

  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 30px;
    position: relative;
  }
  
  .input-container {
    position: relative;
    margin-top: 10px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
    transition: border-color 0.3s ease;
  }
  
  .input-container input:focus {
    border-color: var(--brand-purple);
    outline: none;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.3s ease all;
    pointer-events: none;
  }
  
  .input-container input:focus~label,
  .input-container input:not(:placeholder-shown)~label {
    top: -13px;
    font-size: 15px;
    color: var(--brand-purple);
  }
  
  .input-container input::placeholder {
    visibility: hidden;
  }
  
  .btn-submit {
    background-color: var(--brand-purple);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 760;
    cursor: pointer;
    width: 100%;
  }
  
  .alert-danger {
    display: flex;
    justify-content: center;
  }
  
  .alert-danger ul {
    padding: 0;
    margin-top: 15px;
  }
  
  .alert-danger li {
    list-style: none;
    text-align: center;
  }
  
  .modal-content {
    border: none;
    box-shadow: 0px 5px 20px 0px rgb(77, 77, 77);
  }
  
  .modal-footer button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 760;
  }
  /* Estilo para el botón deshabilitado */
button:disabled {
  cursor: not-allowed;
  background-color: rgb(131, 131, 131);
}

/* Estilo para el botón habilitado */
button:not(:disabled) {
  background-color: var(--brand-purple); /* Color verde */
  color: white;
}

.alert-danger {
  padding: 0px;
  margin-bottom: 30px;
}
.modal {
  font-family: 'Raleway', sans-serif;
}