<div class="container-form">
  <div class="login-form">
    <h2><i class="fa-solid fa-envelope"></i> OLVIDÉ MI CONTRASEÑA</h2>
    <br>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <p class="info-text">Ingresa tu dirección de correo electrónico y te enviaremos un enlace para recuperar tu contraseña.</p>
      <p>El enlace expirará en 15 minutos. Asegúrate de revisar tu carpeta de spam si no lo encuentras en la bandeja de entrada.</p>
      <hr>
      <br>

      <!-- Alerta de error (si hay errores en la respuesta del servidor) -->
      <div *ngIf="errors.length > 0" class="alert alert-danger" role="alert">
        <ul>
          <li *ngFor="let error of errors"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</li>
        </ul>
      </div>

      <!-- Email -->
      <div class="form-group">
        <div class="input-container">
          <input type="email" formControlName="email" id="email" placeholder=" " (focusout)="onEmailBlur()" />
          <label for="email"><i class="fa-solid fa-envelope"></i> Email </label>
        </div>
      </div>

      <!-- reCaptcha -->
      <div style="display: flex;justify-content: center;margin-bottom: 10px;">
        <re-captcha [siteKey]="siteKey" (resolved)="executeRecaptcha($event)"></re-captcha>
      </div>

      <!-- Botón de envío con loading -->
      <div *ngIf="loading; else showButton" class="d-flex justify-content-center">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <ng-template #showButton>
        <button type="submit" class="btn btn-submit" [disabled]="!forgotPasswordForm.valid || !captchaToken">
          <i class="fa-solid fa-paper-plane"></i> &nbsp;Enviar instrucciones
        </button>
      </ng-template>
    </form>
  </div>
</div>

<!-- Modal de éxito -->
<div class="modal flex" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Encabezado -->
      <div class="modal-header bg-success text-white text-center">
        <h5 class="modal-title w-100">
          <i class="fa-solid fa-check-circle"></i> ¡Correo enviado!
        </h5>
      </div>

      <!-- Cuerpo -->
      <div class="modal-body text-center">
        <p>Hemos enviado un correo con las instrucciones para restablecer tu contraseña a:</p>
        <h6 class="text-primary"><strong>{{ userEmail }}</strong></h6>
        <p class="text-danger fw-bold">⚠️ Este enlace caduca en 15 minutos.</p>
      </div>

      <!-- Pie con botón -->
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn text-white bg-success" data-bs-dismiss="modal">
          Entendido
        </button>
      </div>
    </div>
  </div>
</div>
