.container-dashboard {
  display: flex;
  width: 100%;
  overflow: hidden;
  /* Evita scroll horizontal */
  background-color: #F8F9FA;
}

.sidebar {

  min-height: 100%;
  width: 300px;
  min-width: 300px;
  /* Ancho mínimo */
  transition: all 0.3s ease;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-family: var(--font-primary);
}

.sidebar.closed {
  width: 60px;
  min-width: 60px;
}

.wrapper-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.toggle-close,
.toggle-open {
  cursor: pointer;
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}

.toggle-open {
  width: 100%;
  text-align: right;
}

.toggle-close {
  display: none;
  margin-left: 15px;
}

.sidebar.closed .toggle-open {
  display: none;
}

.sidebar.closed .toggle-close {
  display: block;
  margin-left: 0px;
}

.sidebar ul {
  list-style-type: none;
  width: 100%;
  margin: 25px 0 0 0;
  padding: 10px 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  width: 100%;
}

.sidebar ul li a {
  color: #595959;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 4px;
  margin: 0 15px;
}

.sidebar ul li a:hover {
  color: var(--brand-purple);
}

.sidebar ul li a i {
  font-size: 20px;
  min-width: 30px;
  text-align: center;
  transition: margin-right 0.3s ease;
}

.sidebar:not(.closed) ul li a i {
  margin-right: 10px;
}

.sidebar ul li a span {
  transition: opacity 0.3s ease, visibility 0.0s ease;
  white-space: nowrap;
}

.sidebar.closed ul li a span {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

/* Contenido principal */
.content {
  flex-grow: 1;
  width: calc(100% - 300px);
  /* Resta el ancho de la sidebar */
  overflow-y: hidden;
  /* Scroll vertical si es necesario */
  transition: width 0.3s ease;
  padding: 20px;
  background-color: #f8f9fa;
}

.sidebar.closed~.content {
  width: calc(100% - 60px);
  /* Ajuste cuando la sidebar está cerrada */
}

/* Responsive */
@media screen and (max-width: 768px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }

  .sidebar:not(.closed) {
    width: 300px;
  }

  .content {
    width: 100%;
    margin-left: 60px;
  }

  .sidebar.closed~.content {
    margin-left: 60px;
  }

  .sidebar:not(.closed)~.content {
    margin-left: 300px;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
}

.dropdown-dashboard {
  display: none;
  font-size: 14px;
  margin-top: 0px !important;
  text-align: center !important;
  padding: 10px 0;
  /* Añadido para control de espaciado */

  width: 90% !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 0px !important;
  background-color: #f1f1f1;


}

.dropdown-dashboard li {
  text-align: center !important;
  display: flex;
  width: 60% !important;
  text-align: start !important;
  margin: -5px auto;
  margin-left: 16px;

}

.dropdown-dashboard.active {
  display: block;
}



.dropdown-toggled {
  cursor: pointer;
}

.dropdown-toggled i {}

.dropdown-toggled span {
  font-size: 16px;
}
/* Estilo para cuando el dropdown está abierto */
.list-item.active-dropdown {
  background-color: #f1f1f1;
}

.sidebar.closed ul li.active-dropdown li {
  color: var(--brand-purple); /* Color del texto */
  margin-left: 0px;
}