/* Estilos generales */
.container-form {
  display: flex;
}

.login-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: var(--font-primary);

}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-group-password {
  margin-top: 30px !important;
}

.input-container {
  position: relative;
  margin-top: 10px;
  /* Espacio para el label */
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  /* Ajusta el padding para alinear el texto y el label */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: var(--brand-purple);
  outline: none;
}

.input-container label {
  position: absolute;
  top: 50%;
  /* Centrado verticalmente */
  left: 10px;
  transform: translateY(-50%);
  /* Ajusta el label a la mitad del campo de entrada */
  font-size: 16px;
  color: #aaa;
  transition: 0.3s ease all;
  pointer-events: none;
}

.input-container input:focus~label,
.input-container input:not(:placeholder-shown)~label {
  top: -13px;
  /* Mueve el label hacia arriba cuando el campo es seleccionado o contiene texto */
  font-size: 15px;
  color: var(--brand-purple);
}

.input-container input::placeholder {
  visibility: hidden;
  /* Oculta el placeholder para que no se vea cuando el label se mueve */
}

.name-lastname {
  display: flex;
  gap: 10px;
}

/* Botón del ojo para mostrar/ocultar contraseña */
.input-container button.btn-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 3px;
}

.input-container button.btn-eye i {
  font-size: 20px;
}

/* Inicialmente el botón de ojo será gris */
.input-container button.btn-eye {
  color: #ccc;
  /* Gris */
}

/* Cuando el campo de contraseña tiene el foco, el botón de ojo cambia a verde */
.input-container input:focus~button.btn-eye {
  color: var(--brand-purple);
  /* Verde */
}


.password-info {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  color: #868686;
}

.btn-submit {
  background-color: var(--brand-purple);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 760;
  cursor: pointer;
  width: 100%;
}




.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: rgb(131, 131, 131);
  /* Opcional: puedes agregar opacidad para indicar que el botón está deshabilitado */
}




input.ng-valid {
  border-color: #28a745;
  /* Verde cuando es válido */
}

input.ng-invalid {
  border-color: #f8f8f8;
  /* Rojo cuando es inválido */
}

input.ng-touched {
  border-width: 2px;
  /* Añade un borde solo después de que el campo haya sido tocado */
}

.password-info .valid {
  color: #28a745;
  /* Verde cuando la validación es correcta */
}

.valid {
  color: green;
  /* Cambia esto por el estilo que desees para cuando la validación sea correcta */
}


.password-info {
  border: 2px solid #ccc;
  /* Color predeterminado */
  padding: 10px;
  border-radius: 5px;
}

.password-info.valid {
  border-color: green;
  background-color: #0096391c;
  border: none;
}

.alert-danger {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.alert-danger ul {
  padding: 0px;
  margin-top: 15px;
}

.alert-danger li {
  list-style: none;
  text-align: center;
}

.custom-green-btn {
  background-color: #009639 !important;
  border-color: #007b5e !important;
}

.custom-green-btn:hover {
  background-color: #00802b !important;
}


.modal-content {
  border: none;
  box-shadow: 0px 5px 20px 0px rgb(77, 77, 77);
}

.modal-title {
  width: 100%;
  text-align: center;
}

.modal-title i {}

.modal-footer button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 760;
}

