<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a class="navbar-brand" routerLink="/">
        <div class="logo">
          <div class="box">ELECTRO</div>
          <div class="highlight">MACH</div>
        </div>
      </a>
      <ul class="footer-nav">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/products">Productos</a></li>
        <li><a routerLink="/about">Sobre Nosotros</a></li>
        <li><a routerLink="/contact">Contáctanos</a></li>
        <li><a routerLink="/support">| &nbsp; Soporte</a></li>
        <li><a routerLink="/login">Ayuda</a></li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p>© 2025 Match Electro. Todos los derechos reservados.</p>
      <p>Desarrollado por <a href="https://github.com/jeep12" target="_blank">AK4N1</a></p>
    </div>
  </div>
</footer>
