<div class="modal fade" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title "><i class="fa-solid fa-circle-exclamation"></i> {{config.title}}</h5>
      </div>
      <div class="modal-body">

        <p>{{config.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="close()">
          {{config.confirmText}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'"></div>