* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-surface-background: rgba(33,33,33,.9);
    --message-surface: rgba(50,50,50,.85);
    --composer-blue-bg: #2a4a6d;
    --composer-blue-hover: #1a416a;
    --composer-blue-text: #48aaff;
    --dot-color: var(--white);
    --text-primary: var(--gray-100);
    --icon-surface: 240 240 240;
    --text-primary-inverse: var(--gray-950);
    --text-secondary: var(--gray-400);
    --text-tertiary: var(--gray-500);
    --text-quaternary: var(--gray-600);
    --text-placeholder: hsla(0,0%,100%,.8);
    --content-primary: #f2f6fa;
    --content-secondary: #dbe2e8;
    --text-error: #f93a37;
    --border-xlight: hsla(0,0%,100%,.05);
    --border-light: hsla(0,0%,100%,.1);
    --border-medium: hsla(0,0%,100%,.15);
    --border-heavy: hsla(0,0%,100%,.2);
    --border-xheavy: hsla(0,0%,100%,.25);
    --border-sharp: hsla(0,0%,100%,.05);
    --main-surface-primary: var(--gray-800);
    --main-surface-primary-inverse: var(--white);
    --main-surface-secondary: var(--gray-750);
    --main-surface-secondary-selected: hsla(0,0%,100%,.15);
    --main-surface-tertiary: var(--gray-700);
    --sidebar-surface-primary: var(--gray-900);
    --sidebar-surface-secondary: var(--gray-800);
    --sidebar-surface-tertiary: var(--gray-750);
    --sidebar-title-primary: hsla(0,0%,94%,.5);
    --sidebar-surface: #2b2b2b;
    --sidebar-body-primary: #ededed;
    --sidebar-icon: #a4a4a4;
    --surface-hover: hsla(0,0%,100%,.15);
    --link: #7ab7ff;
    --link-hover: #5e83b3;

    --font-primary:var(--font-montserrat);

    --white: #fff;
    --black: #000;
    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-300: #cdcdcd;
    --gray-400: #b4b4b4;
    --gray-500: #9b9b9b;
    --gray-600: #676767;
    --gray-700: #424242;
    --gray-750: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    --red-500: #ef4444;
    --red-700: #b91c1c;
    --brand-purple: #4d368c;
    --yellow-900: #927201;

    --font-raleway: 'Raleway', sans-serif;
    --font-montserrat:'Montserrat', sans-serif;

}
body {
    background-color: #F0F0F0 ;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: white !important;  /* El color del texto */
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;  /* El color de fondo oscuro */
    border: 1px solid var(--brand-purple) !important;  /* El borde oscuro para que no se ponga blanco */
}
 /* Estilos para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra */
  }
  
  ::-webkit-scrollbar-track {
    background: #F0F0F0; /* Color del fondo del body */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--brand-purple); /* Violeta del nav */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3a246e; /* Un tono más oscuro al hacer hover */
  }
  