<div class="container-form">
  <div class="login-form">
    <h2><i class="fa-solid fa-key"></i> RESETEAR CONTRASEÑA</h2>
    <br>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-container">
          <input type="password" formControlName="password" id="password" placeholder=" " (input)="onPasswordChange()"
            [type]="passwordVisible ? 'text' : 'password'" />
          <label for="password"><i class="fa-solid fa-lock"></i> Nueva Contraseña</label>
          <button type="button" class="btn-eye" (click)="togglePasswordVisibility()">
            <i class="fa-solid" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>

      <div class="form-group">
        <div class="input-container">
          <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder=" "
            [type]="repeatPasswordVisible ? 'text' : 'password'" />
          <label for="confirmPassword"><i class="fa-solid fa-lock"></i> Confirmar Contraseña</label>
          <button type="button" class="btn-eye" (click)="toggleRepeatPasswordVisibility()">
            <i class="fa-solid" [ngClass]="repeatPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>

      <div *ngIf="errors.length > 0" class="alert alert-danger" role="alert">
        <ul>
          <li *ngFor="let error of errors"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</li>
        </ul>
      </div>

      <div class="password-info" [ngClass]="{'valid': isPasswordValid(), 'invalid': !isPasswordValid()}">
        <div [class.valid]="passwordValidations.length" [class.invalid]="!passwordValidations.length">
          <i class="fa-solid fa-square-check iconLength"></i> Al menos 8 caracteres
        </div>
        <div [class.valid]="passwordValidations.uppercase" [class.invalid]="!passwordValidations.uppercase">
          <i class="fa-solid fa-square-check iconUppercase"></i> Al menos una mayúscula
        </div>
        <div [class.valid]="passwordValidations.specialChar" [class.invalid]="!passwordValidations.specialChar">
          <i class="fa-solid fa-square-check iconSpecialChar"></i> Al menos un carácter especial
        </div>
        <div [class.valid]="passwordValidations.number" [class.invalid]="!passwordValidations.number">
          <i class="fa-solid fa-square-check iconNumber"></i> Al menos un número
        </div>

        <div [class.valid]="passwordValidations.match" [class.invalid]="!passwordValidations.match">
          <i class="fa-solid fa-square-check iconMatch"></i> Las contraseñas coinciden
        </div>
      </div>

      <br>
      <div class="d-flex justify-content-center">
        <re-captcha [siteKey]="siteKey"
          (resolved)="executeRecaptchaVisible($event)"></re-captcha>
      </div>
      <br>
      <div *ngIf="loading; else showButton" class="d-flex justify-content-center">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <ng-template #showButton>
        <button type="submit" class="btn btn-submit" [disabled]="!resetForm.valid || !captchaToken">
          <i class="fa-solid fa-check-circle"></i> &nbsp;Restablecer Contraseña
        </button>
      </ng-template>
    </form>
  </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success text-white text-center">
        <h5 class="modal-title" id="successModalLabel"> <i class="fa-solid fa-check-circle"></i> Éxito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        ¡Contraseña restablecida correctamente!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
